<section class="container">
  <form novalidate>
    <div class="row">
      <app-dropdown [title]="transactionTypesTitle" [list]="transactionTypes"
        (sendArrayToParent)="getSelectedTypes($event)"></app-dropdown>

      <app-dropdown [title]="transactionCategoriesTitle" [list]="transactionCategories"
        (sendArrayToParent)="getSelectedCategories($event)"></app-dropdown>
      
      <app-dropdown [title]="transactionAccountsTitle" [list]="transactionAccounts"
        (sendArrayToParent)="getSelectedAccounts($event)"></app-dropdown>
    </div>
  </form>
</section>

<div class="container list">
  <div class="group" *ngFor="let group of groupedTransactions">
    <h4>{{group.date}}</h4>

    <ng-container *ngFor="let transaction of group.transactions">
      <app-transaction-card *ngIf="checkTransaction(transaction)" [transaction]="transaction">
      </app-transaction-card>
    </ng-container>

  </div>
</div>