<ng-container *ngIf="isExists">
  <ng-container *ngTemplateOutlet="editMode ? edit : read"></ng-container>
</ng-container>

<ng-template #read>
  <div class="wide-card">
    <div class="info">
      <h6>{{transactionCategory}}</h6>

      <p class="description" *ngIf="transactionForm.get('description')?.value">
        {{transactionForm.get('description')?.value}}</p>

      <small>{{transactionForm.get('account')?.value}}
        <ng-container *ngIf="transactionForm.get('to_account')?.value">
          → {{transactionForm.get('to_account')?.value}}
        </ng-container>
      </small>
    </div>

    <div class="sum">
      <h6 [class.isGreen]="transactionForm.get('sum')?.value>=0">{{transactionForm.get('sum')?.value}}</h6>
      <p class="description" *ngIf="transactionForm.get('fees')?.value">Fees: {{transactionForm.get('fees')?.value}}</p>
    </div>

    <div class="actions">
      <button (click)="openEditMode()" class="outlined">Edit</button>
    </div>
  </div>
</ng-template>

<ng-template #edit>
  <form class="wide-card" [formGroup]="transactionForm">

    <div class="info group">
      <strong>Transaction</strong>

      <select formControlName="type" *ngIf="transactionDataService.types | async as types">
        <option [value]="null" disabled>Type</option>
        <option *ngFor="let type of types" [value]="type.name" [selected]="type.name === transaction.type">{{type.name}}
        </option>
      </select>

      <ng-container *ngIf="transactionForm.get('type')?.value !== 'Transfer' ">
        <select formControlName="category" *ngIf="(transactionDataService.categories| async) as categories">
          <option [value]="null" disabled>Category</option>
          <ng-container *ngFor="let category of categories">
            <option [value]="category.name" [selected]="category.name === transaction.category">{{category.name}}
            </option>
          </ng-container>
        </select>
      </ng-container>

      <small>
        <select formControlName="account" *ngIf="(transactionDataService.accounts| async) as accounts">
          <option [value]="null" disabled>Account</option>
          <option *ngFor="let account of accounts" [value]="account.name"
            [selected]="account.name === transaction.account">{{account.name}}</option>
        </select>

        <ng-container *ngIf="transactionForm.get('type')?.value === 'Transfer'">
          ->
          <select formControlName="to_account" *ngIf="(transactionDataService.accounts | async) as accounts">
            <option [value]="null" disabled>To account</option>
            <option *ngFor="let account of accounts" [value]="account.name"
              [selected]="account.name === transaction.to_account">{{account.name}}</option>
          </select>
        </ng-container>
      </small>

    </div>

    <div class="sum group">
      <strong>Sum</strong>

      <input [class.isGreen]="transaction.sum>=0" formControlName="sum" placeholder="Sum">
      <input type="text" formControlName="fees" placeholder="Fees">
    </div>

    <div class="group">
      <strong>Description</strong>

      <input type="date" formControlName="date">
      <input type="text" formControlName="description" placeholder="Description">
    </div>

    <div class="actions">
      <button type="submit" (click)="save()" class="outlined">✓</button>
      <button type="button" (click)="delete()" class="outlined">X</button>
    </div>
  </form>
</ng-template>